<a href="https://colab.research.google.com/github/vidsvur/Python_tutorial/blob/main/Tutorial01_vids.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction


1. Welcome to Google colab! Colab runs python on a virtual environment. Any virtual env on Google colab is attached to the user's Google drive.
  - Google colab executes python on Google's cloud servers

2. We chose Google colab for convenience, but we can run all these scripts on our local machines, and the HPC cluster (Xanadu).

If you notice, Google colab has a code and text section, and you can include documentation to your entire code by typing in the text section.

Now, let's walk through some terminologies related to Python!

# An example script

Let's look at a python script and define some terminologies related to python.

In [ ]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ", sum)

# function call with two values
add_numbers(5, 4)

Sum:  9

1. In this example, what is the name of the function?
2. What are the variables in this code snippet?
3. What line is the "comment line"?


Do you notice the indent? Python is actually really particular about these spaces, and you will be met with an error if you do not follow the right indents in your code.

# Python Variables

Python doesn't really have an explicit command to declare a variable. You just use "="

In [ ]:
x = 5

Note that if you just ran the above code i.e, "x=5", then you would not get an output.
 - How would you print the value of the variable?

You can also assign strings to variables.

In [ ]:
y="John Doe"
z='John Doe'
print(y)
y == z

John Doe

True

Python doesn't have an explicit command to declare variables, nor do you explicitly declare the _type_ of variable. It just assumes the type from the value assigned to the variable.

In [ ]:
y = "John Doe" #y would be of type str
y = 17 #y gets reassigned into int

type(y)

int

But what if you wanted to force a variable to be a certain _type_ like str or int, you can cast that variable:

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print (x,",",y,",",z)
X = "hemlocks"
x == X

3 , 3 , 3.0

False

If you notice above, variable names are case sensitive. X is a different variable altogether, and did not overwrite x.

## Legal and illegal variable names

You're allowed to be very creative in your variable names. However, there are illegal variables to be wary of.

In [ ]:
7coolpig = "Eastern Hemlock"
7-pig = "Eastern Hemlock"
7 pig = "Eastern Hemlock"

SyntaxError: invalid decimal literal (<ipython-input-16-477abd547171>, line 1)

Yeah Python is not happy about that.

In [ ]:
coolpig7 = "Piglet is "
pig_7 = "Pooh's "
PIGSARECOOL = "best friend"

Much better now. ðŸ˜‰

In [ ]:
print (coolpig7 + pig_7 + PIGSARECOOL)

Piglet is Pooh's best friend

There is a very subtle addition to the end of the strings I added there- `coolpig7` ends with an extra space so that when I printed all variables together, it reads as a sentence.

In [ ]:
coolpig7 = "Piglet is"
pig_7 = "Pooh's"
PIGSARECOOL = "best friend"
print (coolpig7 + pig_7 + PIGSARECOOL)

Piglet isPooh'sbest friend

There is a way to fix this!

In [ ]:
print (coolpig7 + " " + pig_7 + " " + PIGSARECOOL)

Piglet is Pooh's best friend

What would happen if you print() a variable and string together?

In [ ]:
print("Hi" + 5)

TypeError: can only concatenate str (not "int") to str

Yeah- Unhappy!

In [ ]:
print ("Hi" + "5")

Hi5

## Global Variables

For context, let's define/ensure we know what a function is.

 - what _is_ a function?

 We were using a function all this while to print our code- `print()`

 Now, let's look at the example script again.

In [ ]:
magic_num = 7

def add_numbers(num1, num2):
    sum = num1 + num2
    if sum == magic_num:
      print("you got the magic number!")
    else:
      print("Sum: ", sum)


# function call with two values
add_numbers(5, 4)
add_numbers(3, 4)

Sum:  9
you got the magic number!

In this code snippet, which variable do you think is the global variable?
 - which variable is the local variable?

 ** you can make a local variable into a global variable by using `global <variable>`

# Arithmetic and Boolean operators

Let's look at basic arithmetic and boolean operators.

## Arithmetic operators

| Operator | Name | Example |
| -- | -- | -- |
| + | Addition | x + y |
| - | Subtraction | x - y|
| * | Multiplication | x * y |
| / | Division | x/y |
| % | Modulus | x % y |
| ** | Exponentiation | x ** y |

In [ ]:
# Let's declare x and y to be 5 and 4

x = 5
y= 4

# Additon
print (x+y)
# Subtraction
print (x-y)
# Multiplication
print (x * y)
# Division
print (x/y)
# Modulus
print (x % y)
# Exponentiation
print (x ** y)

9
1
20
1.25
1
625

## Boolean Operators

### And, Or, Not

| Operation | Result |
| -- | -- |
| `x or y` | if x is true, then x, else y |
| `x and y` | if x is false, then x, else y |
| `not x` | if x is false, then True, else False |

In [ ]:
x = 5
y = 4

if x==5 or y==5:
  print(True)
else:
  print (False)

if x==5 and y==5:
  print(True)
else:
  print (False)

if not x == 4:
  print ("x is not equal to 4")

True
False
x is not equal to 4

### Comparisons

| Operation | Meaning |
| -- | -- |
| `<` | less than |
| `>` | greater than |
| `<=` | less than or equal to |
| `>=` | greater than or equal to |
| `==` | equal |
| `!=` | not equal |
|  `is` | identity |
| `is not` | negated identity|

In [ ]:
x = 5
y = 4

if x > y:
  print(True)
else:
  print (False)

if x < y:
  print(True)
else:
  print(False)

if x is not y:
  print("x is not equal to 4")

True
False
x is not equal to 4

QUESTION: What happens if you run `if x is not 4` instead?

# Lists and Dictionaries

We're slowly setting ourselves up with all the basics to run loop commands, and eventually set up functions.
An important step before we get into loop commands is to get familiar with lists and dictionaries.

## Lists (and tuples)

_Lists_ are just lists of strings, integers, or both. Tuples are the same, but the biggest difference is that tuples are not mutable.

In [ ]:
my_first_list=["bluesky","mastadon","twitter"]

Given our journey with R, and what we learnt with the print () above, can you generate a code to print "bluesky is better than mastodon"?

In [ ]:
# @title Answer

print (my_first_list[0], "is better than", my_first_list[1])

bluesky is better than mastadon

Lists are handy, and you can add and remove to the lists, modify, and splice them!

In [ ]:
my_first_list.append("linkedin")
print(my_first_list)

['bluesky', 'mastadon', 'twitter', 'linkedin']

In [ ]:
my_first_list.remove("twitter")
print(my_first_list)

['bluesky', 'mastadon', 'linkedin']

In [ ]:
my_first_list.sort()
print(my_first_list)

['bluesky', 'linkedin', 'mastadon']

In [ ]:
my_first_list[-1]

'mastadon'

In [ ]:
my_first_list[0]

'bluesky'

In [ ]:
my_first_list

['bluesky', 'linkedin', 'mastadon']

In [ ]:
my_first_list[1:-1] == my_first_list[1:2]

True

## Tuples

Tuples are just like lists, just less flexible with what you can do with them.

In [ ]:
my_first_tuple = (1,1,2,3,5,8)

Note the round parenthesis as opposed to the square brackets!

In [ ]:
my_first_tuple[0]

1

In [ ]:
my_first_tuple[4] = 9

TypeError: 'tuple' object does not support item assignment

yeah- the tuple doesn't like that.

## Dictionaries

 Dictionaries allow users to store data in key:value pairs.

In [ ]:
#create a LOTR dictionary
LOTR_dict = {
    "Frodo Baggins": "Hobbit",
    "Eowyn": "Noblewoman",
    "Gandalf": "Wizard"
}

# Display the dictionary
print(LOTR_dict)

{'Frodo Baggins': 'Hobbit', 'Eowyn': 'Noblewoman', 'Gandalf': 'Wizard'}

In [ ]:
LOTR_dict['Gandalf']

'Wizard'

In [ ]:
LOTR_dict["Gandalf"]

'Wizard'

In [ ]:
print(LOTR_dict.items())

dict_items([('Frodo Baggins', 'Hobbit'), ('Eowyn', 'Noblewoman'), ('Gandalf', 'Wizard')])

In [ ]:
print(LOTR_dict.keys())

dict_keys(['Frodo Baggins', 'Eowyn', 'Gandalf'])

In [ ]:
print(LOTR_dict.values())

dict_values(['Hobbit', 'Noblewoman', 'Wizard'])

# Exercise!


1. Create a list of 5 elements that consists of numbers. (e.g., `[1,2,3,4,5]`)

2. Calculate the sum of all of these numbers. (If you are used to python, feel free to use for loops!)

3. Create a dictionary of key-value pairs that lists the name, age, and city of a person. (e.g., `"name": "John", "age": 30, "city": "New York"`)

4. Print the value of age from the dicitonary. (i.e, "The value of the 'age' key:  ")

5. Add a new key-value pair to this dicitonary (like, country?)

6. Print the updated dictionary

7. Delete the city key from the dictionary

8. Print the updated dicitonary

9. Use `if-else` to check if age still exists in your dictionary


Post your output on Slack ðŸ˜‰

In [ ]:
# @title Answer
# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Calculate the sum of the numbers in the list
sum = 0
for number in numbers:
    sum += number

# Print the sum of the numbers
print("The sum of the numbers is:", sum)

# Create a dictionary of key-value pairs
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Print the value of the "age" key
print("The value of the 'age' key is:", my_dict["age"])

# Add a new key-value pair to the dictionary
my_dict["country"] = "USA"

# Print the updated dictionary
print("The updated dictionary is:", my_dict)

# Remove the "city" key from the dictionary
del my_dict["city"]

# Print the updated dictionary
print("The updated dictionary is:", my_dict)

# Check if the "age" key exists in the dictionary
if "age" in my_dict:
    print("The 'age' key exists in the dictionary.")
else:
    print("The 'age' key does not exist in the dictionary.")

The sum of the numbers is: 15
The value of the 'age' key is: 30
The updated dictionary is: {'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}
The updated dictionary is: {'name': 'John', 'age': 30, 'country': 'USA'}
The 'age' key exists in the dictionary.